html {
  font-family: "Poppins", sans-serif;
  background-color: #b7b4b6;
  color: #3e3c3e;
}

h1 {
  font-family: "Cinzel", serif;
}

.main {
  background-color: #d7d5d6;
  padding: 10px;
  margin: 100px auto 0 auto;
  max-width: 60%;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main img {
  width: 100%;
}

@media (min-width: 700px) {
  .main img {
    max-width: 600px;
  }
}


