html {
  font-family: "Poppins", sans-serif;
  background-color: #ffe4f3;
  color: #290012;
}

h1 {
  font-family: "Cinzel", serif;
}

.main {
  margin: 0 auto;
  max-width: 60%;
  padding: 1rem;
  background-color: #ff92c2;
}

.main img {
  width: 600px;
  max-width: 100%;
}


